@tailwind base;
@tailwind components;
@tailwind utilities;
.logo {
  display: block;
  max-width: 10ch;
  border-right: 2px solid;
  animation: typing 5s steps(10), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 8ch;
  }
  50% {
    width: 6ch;
  }
  80% {
    width: 10ch;
  }
  100% {
    width: 0ch;
  }
}

/* *{
  outline: 1px solid red;
} */

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

* {
  font-family: "Victor Mono";
}

*::selection {
  background: rgb(249, 40, 71);
}

/* Firefox */
*::-moz-selection {
  background: rgb(249, 40, 71);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: rgba(168, 168, 168, 0.237);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(249, 40, 71);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 640px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: rgba(168, 168, 168, 0.237);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgb(37, 38, 40);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
